<section class="login-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
    <div class="form-wrapper">
      <h3>BSIT 3D Todo List App</h3>
      <hr />
      <div class="form-input">
        <label for="email">Email Address</label>
        <input
          type="text"
          id="email"
          name="email"
          formControlName="email"
          required
          autocomplete="email"
        />

        @if (loginForm.get('email')?.hasError('required') &&
        loginForm.get('email')?.touched) {
        <small class="text-danger"> Email is required </small>
        } @if (loginForm.get('email')?.hasError('email') &&
        loginForm.get('email')?.touched) {
        <small class="text-danger"> Email is invalid </small>
        }
      </div>

      <div class="form-input">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          required
          autocomplete="current-password"
        />

        @if (loginForm.get('password')?.hasError('required') &&
        loginForm.get('password')?.touched) {
        <small class="text-danger"> Password is required </small>
        }
        
      </div>

      <div class="form-action">
        <button type="submit">Login</button>
      </div>
    </div>
  </form>
</section>
